@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Message"]</h1>

<p></p>
<p>Aluno: @ViewData["Aluno"]</p>

<address>
    <strong>Mais Informações: </strong> <a href="https://github.com/LeonardoRestoff1" target="_blank">https://github.com/LeonardoRestoff1<a>
</address>